In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from tqdm import tqdm
import akshare as ak

C:\Users\18025\AppData\Roaming\Python\Python310\site-packages\akshare\__init__.py:2609: UserWarning: 为了支持更多特性，请将 Pandas 升级到 2.1.0 及以上版本！
  warnings.warn(

# 数据处理

读取收盘价数据，并进行检查

In [2]:
#字段管理
fields = {
    'S_DQ_ADJCLOSE': 'close',
    'S_INFO_WINDCODE': 'stkcd',
    'TRADE_DT': 'date',
    'S_DQ_VOLUME': 'volume'
}

#读取数据的预处理
def preprocess(df: pd.DataFrame) -> pd.DataFrame:
    del df['Unnamed: 0']
    df.rename(columns=fields, inplace=True)
    df['date'] = df['date'].astype(str)
    return df

In [3]:
close_df = pd.read_csv("./MD/CLOSE.csv")
close_df = preprocess(close_df)
close_df.head()

     close      stkcd      date
0  2001.16  000001.SZ  20210901
1  3388.19  000002.SZ  20210901
2    75.51  000004.SZ  20210901
3    21.87  000005.SZ  20210901
4   174.99  000006.SZ  20210901

某些股票股价在很长一段时间内不变，且成交量为0  
例子如下

In [4]:
volume_df = pd.read_csv('./MD/S_DQ_VOLUME.csv')
volume_df = preprocess(volume_df)
close_df = pd.merge(close_df, volume_df, on=['stkcd', 'date'])

In [5]:
#本地数据
close_df[close_df['stkcd']=='873169.BJ'].iloc[20:40]

        close      stkcd      date  volume
98215   10.75  873169.BJ  20211008     0.0
102913  10.75  873169.BJ  20211011     0.0
107610  10.75  873169.BJ  20211012     0.0
112309  10.75  873169.BJ  20211013     0.0
117009  10.75  873169.BJ  20211014     0.0
121711  10.75  873169.BJ  20211015     0.0
126415  10.75  873169.BJ  20211018     0.0
131123  10.75  873169.BJ  20211019     0.0
135834  10.75  873169.BJ  20211020     0.0
140548  10.75  873169.BJ  20211021     0.0
145262  10.75  873169.BJ  20211022     0.0
149978  10.75  873169.BJ  20211025     0.0
154698  10.75  873169.BJ  20211026     0.0
159423  10.75  873169.BJ  20211027     0.0
164149  10.75  873169.BJ  20211028     0.0
168877  10.75  873169.BJ  20211029     0.0
173607  10.75  873169.BJ  20211101     0.0
178338  10.75  873169.BJ  20211102     0.0
183071  10.75  873169.BJ  20211103     0.0
187804  10.75  873169.BJ  20211104     0.0

In [6]:
#akshare东财接口历史数据
ak.stock_zh_a_hist('873169', 'daily', '20210901', '20220501')

,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
0,2021-09-07,4.65,4.65,4.65,4.65,1,465.0,0.00,-33.57,-2.35,0.00
1,2021-09-10,5.28,5.28,5.28,5.28,2,1056.0,0.00,13.55,0.63,0.00
2,2021-09-13,5.51,5.51,5.51,5.51,18,9918.0,0.00,4.36,0.23,0.04
3,2021-09-22,11.00,11.00,11.00,11.00,22,24200.0,0.00,99.64,5.49,0.04
4,2021-09-23,10.00,10.60,10.60,10.00,14,14600.0,5.45,-3.64,-0.40,0.03
5,2021-09-24,10.66,10.75,10.75,10.66,70,74950.0,0.85,1.42,0.15,0.14
6,2022-04-15,6.81,7.32,8.86,6.61,118142,89187165.0,37.50,22.00,1.32,49.09
7,2022-04-18,6.80,6.36,6.80,6.29,69164,44989380.0,6.97,-13.11,-0.96,28.74
8,2022-04-19,6.40,6.29,6.40,6.15,28918,18056879.0,3.93,-1.10,-0.07,12.02
9,2022-04-20,6.30,6.13,6.34,6.09,23386,14444087.0,3.97,-2.54,-0.16,9.72
10,2022-04-21,6.11,6.18,6.41,6.06,24407,15182354.0,5.71,0.82,0.05,10.14
11,2022-04-22,6.18,6.26,6.36,6.07,15962,9949608.0,4.69,1.29,0.08,6.63
12,2022-04-25,6.20,6.00,6.22,5.96,23356,14115727.0,4.15,-4.15,-0.26,9.71
13,2022-04-26,6.00,6.00,6.00,5.82,13925,8252396.0,3.00,0.00,0.00,5.79
14,2022-04-27,5.85,6.12,6.40,5.85,11206,6790403.0,9.17,2.00,0.12,4.66
15,2022-04-28,6.19,6.02,6.19,6.00,6754,4096088.0,3.10,-1.63,-0.10,2.81
16,2022-04-29,6.14,6.21,6.31,6.06,10869,6716115.0,4.15,3.16,0.19,4.52

无论是由于停牌，还是流动性过差，成交量为0的股票是比较异常的；而东财的接口也未统计成交量为0时的交易数据  
综合考虑，我剔除了成交量为0的数据

In [7]:
close_df = close_df[close_df['volume']!=0]

构造因子，需要计算月度收益率  
可能由于停牌，某些股票某些月份的交易日太少，处于异常状态，下面剔除月内交易日过少的数据

In [8]:
close_df['month'] = close_df['date'].apply(lambda x: x[:6])
close_df.head()

     close      stkcd      date      volume   month
0  2001.16  000001.SZ  20210901  2316894.09  202109
1  3388.19  000002.SZ  20210901  1251790.18  202109
2    75.51  000004.SZ  20210901    40542.00  202109
3    21.87  000005.SZ  20210901   608189.79  202109
4   174.99  000006.SZ  20210901   150387.04  202109

In [9]:
groups = close_df.groupby(['stkcd', 'month'])
counts = groups.apply(len)
print(counts.describe())
counts.quantile(0.05)

count    124329.000000
mean         19.220463
std           4.651075
min           1.000000
25%          19.000000
50%          20.000000
75%          22.000000
max          23.000000
dtype: float64

10.0

剔除月内交易日小于10的数据

In [11]:
counts = counts.reset_index()
counts.rename(columns={0:'days'}, inplace=True)
counts

            stkcd   month  days
0       000001.SZ  202109    20
1       000001.SZ  202110    16
2       000001.SZ  202111    22
3       000001.SZ  202112    23
4       000001.SZ  202201    19
...           ...     ...   ...
124324  873593.BJ  202305    20
124325  873593.BJ  202306    20
124326  873593.BJ  202307    21
124327  873593.BJ  202308    23
124328  873593.BJ  202309     1

[124329 rows x 3 columns]

In [12]:
close_df = pd.merge(close_df, counts, on=['stkcd', 'month'])
close_df = close_df[close_df['days'] > 10]
close_df.head()

     close      stkcd      date      volume   month  days
0  2001.16  000001.SZ  20210901  2316894.09  202109    20
1  2059.36  000001.SZ  20210902  2422603.54  202109    20
2  2019.07  000001.SZ  20210903  1394818.71  202109    20
3  2064.96  000001.SZ  20210906  1515225.56  202109    20
4  2153.38  000001.SZ  20210907  1622344.16  202109    20

转换成矩阵

In [14]:
close_df = close_df [['date', 'stkcd', 'close']]
close_df = close_df.pivot(index='date', columns='stkcd', values='close')
close_df.head()

stkcd,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,873122.BJ,873152.BJ,873167.BJ,873169.BJ,873223.BJ,873305.BJ,873339.BJ,873527.BJ,873576.BJ,873593.BJ
date,,,,,,,,,,,,,,,,,,,,,
20210901,2001.16,3388.19,75.51,21.87,174.99,33.96,51.31,224.84,39.97,47.67,...,NaN,21.85,NaN,NaN,NaN,NaN,NaN,NaN,11.36,NaN
20210902,2059.36,3450.03,75.79,22.06,176.89,33.88,51.09,225.73,40.51,47.87,...,NaN,22.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210903,2019.07,3406.09,75.67,21.69,177.27,33.96,51.31,203.15,40.62,48.45,...,NaN,22.09,NaN,NaN,NaN,NaN,NaN,10.32,12.38,NaN
20210906,2064.96,3344.25,76.77,20.94,178.40,33.63,51.31,193.37,40.94,48.80,...,NaN,32.77,NaN,NaN,NaN,NaN,NaN,8.63,14.45,NaN
20210907,2153.38,3350.76,77.90,21.22,179.92,33.63,51.76,208.57,41.16,49.45,...,NaN,34.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
close_df.isna().any()

stkcd
000001.SZ    False
000002.SZ     True
000004.SZ     True
000005.SZ     True
000006.SZ    False
             ...
873305.BJ     True
873339.BJ     True
873527.BJ     True
873576.BJ     True
873593.BJ     True
Length: 5346, dtype: bool

经检查，某些股票存在数据缺失  
可能原因是：停牌、未上市

In [36]:
def calcu_monthly_return(close_df: pd.DataFrame, method: str):
    """
    依据日度收盘价，计算月度回报率
    对于缺失值存在两种处理
    1. method = drop
        剔除出现过缺失值的股票的所有数据
    2. method = fill
        用该月分第一个非nan值作为月初收盘价，最后一个非nan值作为月末收盘价
    """
    data = close_df.copy()
    data = data.iloc[:-1]  # 2023年9月1日为最后一行，该月仅有这一交易日，剔除
    data['month'] = data.index.to_series().apply(lambda x: x[:6])
    
    if method == 'drop':
        data = data.dropna(axis=1)
        groups = data.groupby('month')
        monthly_return = groups.apply(lambda column: column.iloc[-1]/column.iloc[0] - 1)
        return monthly_return
    elif method == 'fill':
        groups = data.groupby('month')
        def _calcu_return(column):
            if len(column[column.notna()]) < 10:
                return np.nan
            fir_idx = column.first_valid_index()
            last_idx = column.last_valid_index()
            return  column.loc[last_idx]/column.loc[fir_idx] - 1
        monthly_return = groups.apply(lambda column: column.apply(_calcu_return))
        return monthly_return
    else:
        raise ValueError("menthod参数仅能为 'drop' 或 'fill'")

In [38]:
m_return1 = calcu_monthly_return(close_df, 'drop')
m_return1

stkcd,000001.SZ,000006.SZ,000011.SZ,000012.SZ,000014.SZ,000019.SZ,000021.SZ,000025.SZ,000026.SZ,000027.SZ,...,688800.SH,688819.SH,830832.BJ,831726.BJ,832000.BJ,832566.BJ,832885.BJ,834599.BJ,835640.BJ,839167.BJ
month,,,,,,,,,,,,,,,,,,,,,
202109,0.002798,-0.028116,-0.017831,-0.099824,-0.016684,0.007157,-0.127329,-0.049879,-0.073337,0.194413,...,-0.253098,-0.060747,0.356935,0.632856,0.655473,0.460606,0.369373,0.217815,0.071278,0.077238
202110,0.046136,-0.089520,-0.107554,-0.111983,-0.055308,-0.090968,0.005467,-0.050049,-0.080963,-0.159425,...,0.172786,-0.070369,-0.016511,-0.012910,-0.169349,-0.060750,-0.276684,-0.017544,-0.134555,-0.127031
202111,-0.100568,-0.014406,-0.011170,0.085173,0.034474,0.007647,0.048883,0.037132,0.060326,0.008757,...,0.472192,0.124056,-0.049067,-0.000329,-0.072653,-0.019868,0.183566,0.044579,0.058734,0.124797
202112,-0.065760,0.072095,0.091525,0.006067,0.099949,0.031207,0.014100,-0.002676,-0.004115,-0.002413,...,0.067689,-0.099896,-0.023844,0.181519,0.089100,0.063193,-0.106336,0.031375,-0.048317,-0.080161
202201,-0.049822,-0.053033,-0.075274,-0.103050,-0.006074,-0.062031,-0.176061,-0.050000,-0.124663,-0.145461,...,-0.157088,-0.128045,0.020255,-0.163288,-0.117264,-0.105556,-0.068552,-0.069500,-0.108402,-0.130927
202202,-0.039048,-0.011366,-0.024254,-0.071532,0.057303,0.129915,0.008151,-0.021761,-0.020683,0.013988,...,0.026004,-0.045134,-0.119048,-0.061502,-0.134668,-0.058038,-0.101937,-0.112472,-0.051852,-0.102713
202203,-0.033921,0.175829,0.188849,-0.129073,0.393494,0.093583,-0.166200,0.031362,-0.116425,-0.108119,...,0.024824,-0.126836,-0.045492,-0.159799,-0.115789,-0.070652,-0.145070,-0.112449,-0.144623,-0.168576
202204,-0.027304,-0.195567,-0.160682,-0.239496,-0.123511,-0.127051,-0.136372,-0.249567,-0.084269,-0.097357,...,-0.107257,-0.205674,-0.314286,-0.122044,-0.186207,0.001719,-0.169350,0.008424,-0.103673,-0.404305
202205,-0.075719,0.032692,0.087658,0.076102,0.060788,0.229560,0.114858,0.747331,0.173120,0.060365,...,-0.012239,0.166545,0.041667,0.176617,0.009986,0.020529,0.058091,0.033952,0.069479,0.411909
202206,0.063921,0.066585,0.025923,0.238851,-0.064597,-0.093956,0.062707,0.087022,0.011194,0.043090,...,0.186031,0.082171,0.062954,0.009322,0.021362,-0.012645,0.117573,-0.033749,0.002542,0.181618
202207,-0.134842,-0.084619,-0.147605,-0.085151,-0.046976,0.004906,0.027972,-0.081919,-0.058941,-0.009322,...,0.156117,0.228255,-0.037330,-0.047360,-0.054018,-0.086162,-0.046328,-0.087382,0.021906,0.015259
202208,0.026571,0.004781,-0.041881,-0.026864,-0.005910,0.024590,0.006615,-0.172257,0.017375,0.004742,...,-0.027319,-0.105404,0.002358,-0.067371,-0.044630,-0.021264,-0.065797,0.005538,-0.010870,-0.026882
202209,-0.061069,-0.041768,-0.106879,0.054711,-0.086318,-0.139809,-0.135070,-0.067380,-0.105457,-0.100991,...,-0.098527,-0.126094,0.105882,-0.010252,-0.019062,0.017119,-0.077514,-0.091381,0.019545,-0.209731
202210,-0.098519,-0.118069,0.009949,0.011806,-0.064895,0.005909,0.123785,-0.014109,0.064223,0.025164,...,-0.100920,0.278382,0.030884,-0.019020,0.074355,-0.023242,-0.027437,0.088821,0.031673,-0.007170
202211,0.221181,0.569861,0.186244,0.015428,0.384044,0.085769,0.000000,0.262931,0.109426,0.045919,...,0.009790,-0.073211,0.110769,0.074784,0.019830,0.053878,-0.007305,-0.014192,0.069580,0.205378
202212,0.004583,-0.018681,-0.038797,-0.077049,-0.059876,-0.043478,-0.094097,-0.169815,-0.090648,0.034126,...,-0.076079,-0.045798,-0.042396,-0.052540,-0.086111,-0.041954,-0.097059,0.027426,-0.017678,-0.084087
202301,0.088597,-0.078427,0.001725,0.077526,0.046463,0.044371,0.057362,0.117502,0.130918,0.003186,...,-0.025018,0.045420,0.034649,0.072371,0.087087,0.063058,0.173736,0.028366,0.113161,0.169205
202302,-0.062584,0.026878,0.010565,-0.045282,-0.052092,0.063058,0.052184,-0.060568,-0.111390,0.000000,...,-0.129592,-0.047205,-0.076067,-0.024504,-0.046703,-0.015194,-0.101557,-0.001340,-0.030687,-0.104528
202303,-0.115740,-0.119592,-0.128590,-0.037341,-0.074557,-0.060401,0.295149,-0.042089,-0.055573,-0.022387,...,-0.165422,-0.072732,-0.104686,-0.047640,-0.057225,-0.038873,-0.048338,-0.013819,-0.098957,-0.186976
202304,-0.009470,-0.054672,-0.048216,-0.028065,0.028470,-0.026778,-0.031515,-0.064227,0.063320,0.043903,...,-0.099211,-0.053282,-0.096305,-0.028366,0.016616,-0.029859,-0.025539,0.058579,0.019587,0.009018
202305,-0.088768,-0.047443,-0.042527,-0.065825,-0.011898,-0.031204,0.362509,-0.014091,0.015134,0.056577,...,0.038323,0.029289,-0.003727,0.037998,0.035608,0.046554,0.093061,0.021938,0.034195,-0.027583
202306,-0.007452,-0.021964,-0.013781,-0.026175,0.156674,0.026759,-0.099956,0.076031,-0.008743,-0.013629,...,0.182589,0.065877,-0.042394,-0.004021,0.021614,-0.015716,0.026061,0.014483,-0.008132,0.016099
202307,0.072236,0.156106,0.152944,0.037244,0.271313,0.091041,0.001995,-0.053458,0.018901,0.033084,...,-0.165374,0.012455,0.000000,-0.047273,0.001416,-0.050266,-0.045422,-0.006971,-0.048181,-0.024444
202308,-0.084706,0.139229,0.101505,-0.021013,0.073658,-0.071926,-0.089908,-0.072426,-0.059970,-0.057712,...,-0.121829,-0.016389,-0.120830,-0.146009,-0.027280,-0.074873,-0.291139,0.086502,-0.056965,-0.089176

In [39]:
m_return2 = calcu_monthly_return(close_df, 'fill')
m_return2

stkcd,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,873122.BJ,873152.BJ,873167.BJ,873169.BJ,873223.BJ,873305.BJ,873339.BJ,873527.BJ,873576.BJ,873593.BJ
month,,,,,,,,,,,,,,,,,,,,,
202109,0.002798,0.023535,0.021454,-0.106081,-0.028116,0.031802,-0.017346,-0.241594,-0.008006,-0.017831,...,NaN,0.989474,NaN,NaN,NaN,NaN,NaN,-0.012597,0.362676,NaN
202110,0.046136,-0.142654,-0.123684,0.009448,-0.089520,0.009179,-0.080211,0.181968,0.034105,-0.107554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.107814,NaN,NaN
202111,-0.100568,0.003851,0.117475,0.013986,-0.014406,0.280577,0.000000,-0.135137,-0.042254,-0.011170,...,NaN,0.917078,NaN,NaN,NaN,NaN,NaN,-0.008840,NaN,NaN
202112,-0.065760,0.069843,-0.003535,0.036461,0.072095,-0.001583,0.342572,-0.170235,-0.040624,0.091525,...,NaN,-0.248448,NaN,NaN,NaN,NaN,0.103738,-0.046615,NaN,NaN
202201,-0.049822,-0.007809,0.043944,-0.093278,-0.053033,0.022476,-0.135552,-0.085000,-0.122850,-0.075274,...,NaN,0.046703,NaN,NaN,NaN,NaN,-0.036437,0.105137,NaN,NaN
202202,-0.039048,-0.081779,0.002401,0.023081,-0.011366,-0.031022,0.083748,0.033888,0.054989,-0.024254,...,NaN,-0.160728,NaN,NaN,NaN,NaN,NaN,0.162248,NaN,NaN
202203,-0.033921,-0.011868,-0.075699,-0.013195,0.175829,-0.003232,-0.082971,-0.202421,-0.073392,0.188849,...,NaN,-0.443145,NaN,NaN,NaN,NaN,0.076274,-0.138336,NaN,NaN
202204,-0.027304,-0.061957,-0.356900,-0.173141,-0.195567,0.047295,-0.125481,-0.206308,-0.169102,-0.160682,...,NaN,-0.117007,NaN,-0.151639,NaN,NaN,0.001945,-0.056085,NaN,NaN
202205,-0.075719,-0.083378,-0.191516,0.050360,0.032692,0.125532,0.247828,0.281680,0.251460,0.087658,...,NaN,0.050610,NaN,-0.033742,NaN,NaN,NaN,-0.067027,NaN,NaN
202206,0.063921,0.146531,-0.076747,-0.026544,0.066585,-0.025545,-0.063680,0.079187,0.129673,0.025923,...,NaN,0.024708,NaN,0.021705,-0.115556,NaN,NaN,0.017045,NaN,NaN
202207,-0.134842,-0.156372,0.004293,0.000000,-0.084619,-0.018647,0.016196,0.021478,-0.046523,-0.147605,...,NaN,NaN,NaN,-0.026275,-0.065217,NaN,NaN,NaN,NaN,NaN
202208,0.026571,0.046871,0.009843,0.011330,0.004781,0.080643,-0.039829,0.039364,-0.024872,-0.041881,...,NaN,NaN,NaN,-0.007937,-0.032911,NaN,NaN,NaN,NaN,NaN
202209,-0.061069,0.058787,-0.088493,-0.066547,-0.041768,-0.053981,-0.075567,-0.222482,-0.112680,-0.106879,...,NaN,NaN,NaN,0.049521,0.013193,NaN,NaN,NaN,NaN,NaN
202210,-0.098519,-0.238738,0.078979,-0.012274,-0.118069,-0.007488,0.036809,0.055664,-0.009976,0.009949,...,0.007444,NaN,NaN,0.026941,-0.010582,NaN,NaN,NaN,NaN,NaN
202211,0.221181,0.345600,0.157821,0.125241,0.569861,-0.056353,0.061197,0.095260,0.077545,0.186244,...,0.096721,NaN,NaN,-0.010495,-0.005277,NaN,NaN,-0.039315,NaN,NaN
202212,0.004583,-0.042105,-0.053644,-0.005193,-0.018681,0.041532,-0.053444,-0.077832,0.125975,-0.038797,...,-0.088989,NaN,NaN,-0.081818,-0.146277,NaN,-0.160743,-0.111228,NaN,NaN
202301,0.088597,0.003291,0.043328,-0.010387,-0.078427,-0.056925,0.034039,0.024527,-0.077880,0.001725,...,0.123729,NaN,NaN,0.114566,0.102484,0.071631,0.085282,0.082547,NaN,NaN
202302,-0.062584,-0.057726,-0.068013,-0.037703,0.026878,-0.014147,0.028483,0.011891,-0.043327,0.010565,...,-0.056604,-0.197113,-0.282662,-0.109418,-0.093583,-0.059948,-0.059248,-0.071351,NaN,NaN
202303,-0.115740,-0.114982,-0.005193,-0.016787,-0.119592,-0.010436,-0.077791,-0.110321,-0.158216,-0.128590,...,-0.004785,0.019934,-0.114065,-0.043614,-0.032353,-0.032199,-0.024874,-0.015081,NaN,NaN
202304,-0.009470,-0.017520,0.035428,-0.022303,-0.054672,-0.289312,-0.008402,-0.072230,-0.072362,-0.048216,...,-0.114170,-0.104002,-0.019512,-0.094156,-0.085627,-0.039735,-0.052703,-0.104829,NaN,0.698079
202305,-0.088768,-0.047494,0.213075,-0.402299,-0.047443,-0.229783,-0.016129,0.146965,-0.153272,-0.042527,...,0.246575,-0.009957,-0.011364,-0.012613,0.000000,0.041992,0.036444,-0.006631,NaN,0.349380
202306,-0.007452,0.001426,0.101885,0.322472,-0.021964,0.149286,-0.020741,0.010905,0.022472,-0.013781,...,-0.008791,-0.091796,-0.010608,0.009158,0.003367,0.021596,-0.048217,-0.022636,NaN,0.299466
202307,0.072236,0.077740,0.290036,0.053542,0.156106,0.016988,0.033704,-0.042363,0.340442,0.152944,...,-0.053019,-0.119103,0.004878,0.021779,-0.003401,0.083871,-0.029976,0.021828,-0.024974,-0.360614
202308,-0.084706,-0.010628,-0.157461,0.028929,0.139229,0.067682,-0.048343,-0.047599,0.063453,0.101505,...,-0.063510,-0.122334,-0.088140,-0.083830,-0.051195,-0.081268,-0.030898,-0.042671,-0.343315,-0.134995

# TSMOM

参考：  
https://zhuanlan.zhihu.com/p/60802784
https://zhuanlan.zhihu.com/p/120835716

# FF3MOM
参考：
https://zhuanlan.zhihu.com/p/95259084  
Fama E F, French K R. The cross‐section of expected stock returns[J]. the Journal of Finance, 1992, 47(2): 427-465.  
Blitz, D., J. Huij, and M. Martens (2011). Residual momentum. Journal of Empirical Finance, Vol. 18(3), 506 – 521.